.forgotPass{
  &__btnCont {
    margin-top:20px;
    float: left;
  }
  &__btn {
    background: #0277bd !important; 
    padding: 10px;
    &:hover {
      background: #039be5 !important;
    }
  }
}
/* .cancelButtonCont{
  display: inline-block;
  float: right;
  margin: 20px 0 0 0 !important;
} */
.cancelButton {
  color: #0277bd !important;
  &:hover {
    background: rgba($color: #0277bd, $alpha: 0.08) !important;
  }
}

.forgot-error {
  color: red;
}

.forgot-success {
  color: #00c853;
}