.courses {
  &__title{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold
  }
  &__elementList {
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__cardCont {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__name {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    &:hover {
      color: #c62828;
    }
  }
  &__cont {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__pannel {
    display: flex;
  }

  &__icon {
    margin-left: 20px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    cursor: pointer;
    &:hover{
      color: #c62828;
    }
  }
  &__addContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.activeName {
  color: #c62828;
}